<!DOCTYPE html>
<html>
   <head>
      <meta charset = "UTF-8">
      <title>Gestionnaire BDO Electron</title>
      <link rel="stylesheet" href="/mainpage.css">
   </head>

   <body>
        <h1>Inscription réussie</h1>
        <p>Veuillez vérifier vos emails</p>
   </body>
</html>