<%- include('header') %>
<%= user.login; %>
<br>
<a href="/infosection">Voir vos information</a>
<a href="/friendlist" class="btn btn-primary">voir ses amis</a>
<a href="/logout">Deconnexion</a>

<%- include('footer') %>